<%- include("partials/header") -%>

<h1>Compose.</h1>
<form action="/compose" method="post">
  <label for="exampleFormControlTextarea1">Title.</label>

  <input class="form-control" name="textTitle" type="text">
  <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter your text.</label>
      <textarea class="form-control" name="textComposed" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("partials/footer")-%>
